:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --card-set-gap: 30px;
}
body {
  background-color: var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin-right: var(--card-set-gap);
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/*Navigation*/
.header-section {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.black-span {
  color: var(--title-text-color);
}

.white-span {
  color: var(--white-text-color);
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav > .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding: 32px 0 31px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts > .item:not(:last-child) {
  margin-right: 50px;
}

.contacts > .item:last-child {
  margin-right: 0;
}

.contact-link {
  display: block;
  padding: 32px 0 31px;

  color: var(--primary-text-color);
}

/*Hero*/
.hero-section {
  padding: 200px 0;

  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  margin-bottom: 30px;

  color: var(--white-text-color);
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 136px;

  color: var(--white-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  color: var(--white-text-color);
  background-color: #188ce8;
}

.section {
  padding: 94px 0;
}

.section.no-padding {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Features*/
.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item:nth-child(4n) {
  margin-right: 0;
}

.feature-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*Work*/
.work-list {
  display: flex;
}

.work-list .item:nth-child(3n) {
  margin-right: 0;
}

/*Our team*/
.another-bg-color {
  background-color: #f5f4fa;
}

.team {
  display: flex;
}

.team-item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-item-description {
  padding: 30px 0;
}

.teammate-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.teammate-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Footer*/
.footer-section {
  padding: 60px 0;
  background-color: #2f303a;
}

.address-section {
  margin-top: 20px;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list > .address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list > .address-item:last-child {
  margin-bottom: 0;
}

.address-link-white {
  color: var(--white-text-color);
  text-decoration: none;
}

.address-link-white:hover,
.address-link-white:focus {
  color: var(--accent-color);
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/*Portfolio page*/

/*Filter button*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  padding: 6px 22px;
  min-width: 73px;

  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border-width: 0;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);

  cursor: pointer;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:last-child {
  margin-right: 0;
}

/*Portfolio cards styles*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.portfolio-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  border: 1px solid #eeeeee;
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.portfolio-item-description {
  padding: 20px 0;
}
.portfolio-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.category-text {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
